@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<MudStack>
    <MudJalaliDatePicker Label="Basic example"/>
    <MudJalaliDateRangePicker Label="Range example" PlaceholderStart="Start Date" PlaceholderEnd="End Date"/>
</MudStack>

Welcome to your new app.